<!DOCTYPE html>

<head> 
	<meta charset="UTF-8">
	<meta name="viewport" content="width-device-width initial-scale=1.0" >
	<meta http-equiv="X-UA-Compatible", content="ie=edge">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head> 


<!-- Sidebar herdada por todos os fronts -->
	<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%; bottom: 2px;">
		<h3 class="w3-bar-item">Menu</h3>
		<a href="{{ url_for('cadastro') }}" class="w3-bar-item w3-button">Cadastro</a>
		<a href="#" class="w3-bar-item w3-button">Pesquisa</a>
	</div>
	{%block body%}
	{%endblock%}
</body>