{%extends 'base.html'%}

{%block head%}


<script src="{{url_for('static', filename='validation.js')}}"></script>

<style type="text/css">
	input[type=text], select {
	  width: 100%;
	  padding: 12px 20px;
	  margin: 8px 0;
	  display: inline-block;
	  border: 1px solid #ccc;
	  border-radius: 4px;
	  box-sizing: border-box;
	}

	input[type=submit] {
	  width: 100%;
	  background-color: #4CAF50;
	  color: white;
	  padding: 14px 20px;
	  margin: 8px 0;
	  border: none;
	  border-radius: 4px;
	  cursor: pointer;
	}

	input[type=submit]:hover {
	  background-color: #45a049;
	}

	#div_form{
		position: relative;
		margin-right:336px;
		left: 338px;
	  border-radius: 5px;
	  background-color: #358285;
	  padding: 20px;
	}
</style>

{%endblock%}

{%block body%}

<div id="div_form">
	
  <form action="/cadastro", method="POST", onsubmit="return my_msg(event)">

    <label for="fname">Nome Completo</label>
    <input type="text" id="fname" name="firstname" placeholder="Seu nome">

    <label for="femail">E-mail</label>
    <input type="text" id="femail" name="email" placeholder="Seu email ">

    <label for="fname">CPF</label>
    <input type="text" id="fcpf" name="cpf" placeholder="Seu CPF">

    <label for="flat">Latitude</label>
    <input type="text" id="flat" name="latitude" placeholder="Latitude">

    <label for="flong">Longitude</label>
    <input type="text" id="flong" name="longitude" placeholder="Longitude">

    <label for="flav">Lavoura</label>
    <input type="text" id="flav" name="lavoura" placeholder="Lavoura">

    <label for="focorr">Ocorrência</label>
    <input type="text" id="focorr" name="ocorrencia" placeholder="Ocorrência">

    <label for="fdate">Data</label> <br> 
    <input type="date" id="fdate" name="data">

    <input type="submit" value="Enviar">

  </form>

</div>

{%endblock%}