{%extends 'base.html'%}

{%block head%}

{%endblock%}

{%block body%}

<div style="position: relative">
  <form action="/cadastro", method="POST">

    <label for="fname">Nome Completo</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="femail">E-mail</label>
    <input type="text" id="femail" name="email" placeholder="Email..">

    <label for="fCPF">CPF</label>
    <input type="text" id="fCPF" name="CPF" placeholder="CPF..">

    <label for="flat">Latitude</label>
    <input type="text" id="flat" name="la" placeholder="Latitude..">

    <label for="flong">Longitude</label>
    <input type="text" id="flong" name="Longitude" placeholder="Longitude..">

    <label for="flav">Lavoura</label>
    <input type="text" id="flav" name="lavoura" placeholder="Lavoura..">

    <label for="focorr">Ocorrência</label>
    <input type="date" id="focorr" name="ocorrencia" placeholder="Ocorrência..">

    <input type="submit" value="Enviar">

  </form>

</div>

{%endblock%}