{%extends 'base.html'%}

{%block head%}


<script src="{{url_for('static', filename='validation.js')}}"></script>

<style type="text/css">
	input[type=text], select {
	  width: 100%;
	  padding: 12px 20px;
	  margin: 8px 0;
	  display: inline-block;
	  border: 1px solid #ccc;
	  border-radius: 4px;
	  box-sizing: border-box;
	}

	input[type=submit] {
	  width: 100%;
	  background-color: #4CAF50;
	  color: white;
	  padding: 14px 20px;
	  margin: 8px 0;
	  border: none;
	  border-radius: 4px;
	  cursor: pointer;
	}

	input[type=submit]:hover {
	  background-color: #45a049;
	}

	#div_form{
		position: relative;
		width: 75%;
		margin-left: 25%;
		border-radius: 5px;
		background-color: #358285;
		padding: 20px;
	}
</style>

{%endblock%}

{%block body%}

<div id="div_form">
	
<form action="/cadastro", method="POST", onsubmit="return validate(event)">

	<label for="fname">Nome Completo</label>
	<input type="text" id="fname" name="name" placeholder="ex: Victor Cardel",value="">

	<label for="femail">E-mail</label>
	<input type="text" id="femail" name="email" placeholder="ex: vscardel@gmail.com",value="">

	<label for="fcpf">CPF</label>
	<input type="text" id="fcpf" name="cpf" placeholder="ex:41960500007",value="">

	<label for="flat">Latitude</label>
	<input type="text" id="flat" name="latitude" placeholder="ex:34.123456",value="">

	<label for="flong">Longitude</label>
	<input type="text" id="flong" name="longitude" placeholder="ex:-179.123456",value="">

	<label for="flav">Lavoura</label>
	<input type="text" id="flav" name="lavoura" placeholder="ex: Milho",value="">

	<label for="focorr">Ocorrência</label>
	<select id="focorr" name="ocorrencia">
		  <option value="CHUVA EXCESSIVA">CHUVA EXCESSIVA</option>
		  <option value="GEADA">GEADA</option>
		  <option value="GRANIZO">GRANIZO</option>
		  <option value="SECA">SECA</option>
		  <option value="VENDAVAL">VENDAVAL</option>
		  <option value="RAIO">RAIO</option>
	</select>

	<label for="fdate">Data</label> <br> 
	<input type="date" id="fdate" name="data",value="">

	<input type="submit" value="Enviar">

</form>
</div>

{%if is_suspeita%}
	<script type="text/javascript">
		alert("Essa ocorrência é suspeita. Favor entrar em contato com o produtor para verificar a situação");
		window.location.replace("/pesquisa");
	</script>
{%endif%}


{%endblock%}