{%extends 'base.html'%}

{%block head%}

<style>
#div_front_page{
	position: relative;
	width: 75%;
	height: 100%;
	margin-left: 25%;
	text-align: center;
}

#site_title{
	color: rgb(0, 204, 102); 
	font-size: 20%;
	font-family:'Lucida Console';
	position: relative;
}
#center{
	margin: auto;
}

#subtitle {
	color: rgb(89, 89, 89); 
	font-size: 10%;
	font-family: 'Lucida Console';
	position: relative;
}
</style>


{%endblock%}

{%block body%}

<div id="div_front_page">
	<div id="center">
		<h1 id = "site_title">ProagroFacil</h1>
		<br>
		<h1 id = "subtitle">Use o menu para selecionar as opções</h1>
	</div>
</div>

{%endblock%}