{%extends 'base.html'%}

{%block head%}

<style>
#div_front_page{
	position: relative;
	width: 75%;
	height: 100%;
	margin-left: 25%;
	opacity: 0.5;
	background-color:rgb(204, 51, 255);
}
</style>


{%endblock%}

{%block body%}

<div id="div_front_page">
		<h1 style="color: rgb(0, 204, 102); font-size: 60px;font-family: 'Lucida Console'
	;position: relative;left: 40%;top: 40%;">ProagroFacil</h1>
		<br>
		<h1 style="color: rgb(89, 89, 89); font-size: 40px;font-family: 'Lucida Console'
	;position: relative;left: 27%;top: 25%;">Use o menu para selecionar as opções</h1>
	
</div>

{%endblock%}
