{%extends 'base.html'%}

{%block head%}

<script src="{{url_for('static', filename='highlight_table.js')}}"></script>

<script src="{{url_for('static', filename='procura_cpf.js')}}"></script>

<style>

.button {
	text-decoration: none;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=text], select {
  width: 97%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 97%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#div_pesquisa{
		position: relative;
		width: 76%;
		margin-left: 26%;
}

#tabela_pesquisa{
	position: relative;
	width: 74%;
	margin-left: 26%;
	overflow-y:scroll;
}

#refresh_pesquisa {
	position: relative;
	margin-left: 58.7%;
}





</style>


{%endblock%}

{%block body%}

<div id = "tela_pesquisa">

	 <div id = "div_pesquisa">
	    <label for="fname">Pesquisa por CPF</label>
	    <input type="text" id="fProcuraCPF" name="procuraCPF" placeholder="CPF",value="">
	    <input type="submit" value="Pesquisa" onclick="procuraPorCPF()">
	 </div>

	<table id="tabela_pesquisa" class = "w3-table">
		<tr>
			<th>Número</th>
			<th>CPF</th>
			<th>Nome</th>
			<th>Lavoura</th>
			<th>Data Colheita</th>
			<th>Ocorrência</th>
			<th>Suspeita</th>
			<th></th>
			<th></th>
		</tr>

		{%for ocorrencia in todas_ocorrencias%}
			<tr>
				<td>
					{{ocorrencia[0]}}
				</td>
				<td>
					{{ocorrencia[4]}}
				</td>
				<td>
					{{ocorrencia[2]}}
				</td>
				<td>
					{{ocorrencia[7]}}
				</td>
				<td>
					{{ocorrencia[8]}}
				</td>
				<td>
					{{ocorrencia[9]}}
				</td>
				<td>
					{%if ocorrencia[1] == 1%}
						SIM
					{%else%}
						NÃO
					{%endif%}
				</td>
				<td>
					<a id="botao_delete" href = "/delete/{{ocorrencia[0]}}">Deletar</a>
				</td>
				<td>
					<a id="botao_update" href = "/update/{{ocorrencia[0]}}">Atualizar</a>
				</td>
			</tr>
		{%endfor%}
		

	</table>

	<script>highlight_table();</script>
	<br>
	<!-- aparece quando a pesquisa por cpf é feita -->
	<div id = "refresh_pesquisa" style = "display: none">
		<a style="margin-top: 15%" class = "button" id = "link_recarrega" href="/pesquisa">Recarregar</a>
	</div>

</div>
	
{%endblock%}