{%extends 'base.html'%}

{%block head%}

<style>

input[type=text], select {
  width: 95%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 95%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#form_pesquisa{
		position: relative;
		width: 76%;
		margin-left: 26%;
}

#tabela_pesquisa{
	position: relative;
	width: 74%;
	margin-left: 26%;
	overflow-y:scroll;
}


</style>


{%endblock%}

{%block body%}

<div id = "tela_pesquisa">

	 <form id = "form_pesquisa" action="#", method="POST">
	    <label for="fname">Pesquisa por CPF</label>
	    <input type="text" id="fProcuraCPF" name="procuraCPF" placeholder="CPF",value="">
	    <input type="submit" value="Pesquisa">
	 </form>

	<table id="tabela_pesquisa" class = "w3-table">
		<tr>
			<th>Número</th>
			<th>CPF</th>
			<th>Nome</th>
			<th>Lavoura</th>
			<th>Data Colheita</th>
			<th>Ocorrência</th>
			<th>Suspeita</th>
			<th></th>
			<th></th>
		</tr>

		{%for ocorrencia in todas_ocorrencias%}
			<tr>
				<td>
					{{ocorrencia[0]}}
				</td>
				<td>
					{{ocorrencia[4]}}
				</td>
				<td>
					{{ocorrencia[2]}}
				</td>
				<td>
					{{ocorrencia[7]}}
				</td>
				<td>
					{{ocorrencia[8]}}
				</td>
				<td>
					{{ocorrencia[9]}}
				</td>
				<td>
					{%if ocorrencia[1] == 1%}
						SIM
					{%else%}
						NÃO
					{%endif%}
				</td>
				<td>
					<a href = "#">Deletar</a>
				</td>
				<td>
					<a href = "#">Atualizar</a>
				</td>
			</tr>
		{%endfor%}
		

	</table>

</div>
	
{%endblock%}