{%extends 'base.html'%}

{%block head%}

<style>

#div_tabela_perdas{
		position: relative;
		width: 75%;
		height: 100%;
		border-radius: 5px;
		padding: 20px;
}

#form_pesquisa{
	position: relative;
	width: 75%;
	height: 100%;
}


input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

</style>


{%endblock%}

{%block body%}

<div id = "div_tabela_perdas">

	 <form id = "form_pesquisa" action="#", method="POST">
	    <label for="fname">Pesquisa por CPF</label>
	    <input type="text" id="fProcuraCPF" name="procuraCPF" placeholder="CPF",value="">
	    <input type="submit" value="Pesquisa">
	 </form>

	<table class = "w3-table">
		<tr>
			<th>Número</th>
			<th>CPF</th>
			<th>Nome</th>
			<th>Lavoura</th>
			<th>Data Colheita</th>
			<th>Ocorrência</th>
			<th></th>
			<th></th>
		</tr>
		<tr>
			<td>
				bla
			</td>
			<td>
				bla
			</td>
			<td>
				bla
			</td>
			<td>
				bla
			</td>
			<td>
				bla
			</td>
			<td>
				bla
			</td>
			<td>
				<a href = "#">Deletar</a>
			</td>
			<td>
				<a href = "#">Atualizar</a>
			</td>
		</tr>
	</table>
</div>
	
{%endblock%}