{%extends 'cadastro.html'%}

{%block head%}

<script src="{{url_for('static', filename='validation.js')}}"></script>

<style type="text/css">
	input[type=text], select {
	  width: 100%;
	  padding: 12px 20px;
	  margin: 8px 0;
	  display: inline-block;
	  border: 1px solid #ccc;
	  border-radius: 4px;
	  box-sizing: border-box;
	}

	input[type=submit] {
	  width: 100%;
	  background-color: #4CAF50;
	  color: white;
	  padding: 14px 20px;
	  margin: 8px 0;
	  border: none;
	  border-radius: 4px;
	  cursor: pointer;
	}

	input[type=submit]:hover {
	  background-color: #45a049;
	}

	#div_form{
		position: relative;
		width: 75%;
		margin-left: 25%;
		border-radius: 5px;
		background-color: #358285;
		padding: 20px;
	}
</style>

{%endblock%}

{%block body%}


<div id="div_form">
	
<form action="/update/{{id}}", method="POST", onsubmit="return validate(event)">

	<label for="fname">Nome Completo</label>
	<input value="{{old_values[0][2]}}" type="text" id="fname" name="name" placeholder="{{old_values[0][2]}}" >

	<label for="femail">E-mail</label>
	<input value = "{{old_values[0][3]}}"type="text" id="femail" name="email" placeholder="Seu email">

	<label for="fcpf">CPF</label>
	<input value="{{old_values[0][4]}}" type="text" id="fcpf" name="cpf" placeholder="Seu CPF">

	<label for="flat">Latitude</label>
	<input value="{{old_values[0][5]}}" type="text" id="flat" name="latitude" placeholder="Latitude">

	<label for="flong">Longitude</label>
	<input value="{{old_values[0][6]}}" type="text" id="flong" name="longitude" placeholder="Longitude">

	<label for="flav">Lavoura</label>
	<input value="{{old_values[0][7]}}" type="text" id="flav" name="lavoura" placeholder="Lavoura">

	<label for="focorr">Ocorrência</label>
	<select id="focorr" name="ocorrencia">
		  <option value="CHUVA EXCESSIVA">CHUVA EXCESSIVA</option>
		  <option value="GEADA">GEADA</option>
		  <option value="GRANIZO">GRANIZO</option>
		  <option value="SECA">SECA</option>
		  <option value="VENDAVAL">VENDAVAL</option>
		  <option value="RAIO">RAIO</option>
	</select>

	<label for="fdate">Data</label> <br> 
	<input value="{{old_values[0][8]}}" type="date" id="fdate" name="data">

	<input type="submit" value="Enviar">

</form>
</div>

{%if is_suspeita%}
	<script type="text/javascript">
		alert("Essa ocorrência é suspeita. Favor entrar em contato com o produtor para verificar a situação");
		window.location.replace("/pesquisa");
	</script>
{%endif%}

{%endblock%}